@import 'theme/variables';
@import 'theme/spacing';

.common {
  position: fixed;
  top: $header-height;
  right: 0;
  bottom: 0;
}

.examples {
  composes: common;
  left: $examples-list-width;
  padding: 0;
  overflow: auto;
}

.list {
  composes: common;
  left: 0;
  width: $examples-list-width;
  border-right: solid 1px $color-primary-grey;
  overflow-x: auto;
}

.subtitleContainer {
  padding-left: $spc-l + $spc-xs;
  padding-right: $spc-xs;
}

.subtitleHeader {
  color: $color-text-mid;
  margin-bottom: $spc-xs;
  margin-top: $spc-xs;
  font-size: 1rem;
  font-weight: 500;
  line-height: 48px;
}

.subtitle {
  color: $color-text-mid;
  align-items: center;
  font-size: 0.8rem;
  display: flex;
  min-height: 48px;
  position: relative;
  text-overflow: ellipsis;
  word-break: inherit;
  white-space: normal;
  text-align: justify;
}

.selected {
  font-weight: bold;
  color: $color-primary !important;
}

