@import 'theme/variables';

.brand {
  display: flex;
  align-items: center;
}

.logo {
  height: 42.5px;
  margin-right: 7.5px;
}

.brand small {
  font-size: 1rem;
  height: 10px;
  margin-left: 4px;
}

.logoText {
  font-size: 30px;
}

.svg {
  fill: $color-primary;
}
