@import 'theme/spacing';
@import 'theme/breakpoints';
@import 'theme/variables';

@font-face { font-family: "Open Sans"; font-style: normal; font-weight: 300; src: local("Open Sans Light"),local(OpenSans-Light),url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }
@font-face { font-family: "Open Sans"; font-style: normal; font-weight: 400; src: local("Open Sans"),local(OpenSans),url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face { font-family: "Open Sans"; font-style: normal; font-weight: 700; src: local("Open Sans Bold"),local(OpenSans-Bold),url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

html,
body {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  font-size: 100% !important;
  min-height: 100%;
  font-family: "Open Sans";
}

body {
  margin: 0;
}

// show background colors in print
@media print {
  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:global(.h1),
:global(.h2),
:global(.h3),
:global(.h4),
:global(.h5),
:global(.h6) {
  line-height: 1.667em !important;
  font-weight: 500;
}

:global(.h1) {
  font-size: 2.074rem;
}

:global(.h2) {
  font-size: 1.728rem;
}

:global(.h3) {
  font-size: 1.44rem;
}

:global(.h4) {
  font-size: 1.2rem;
}

:global(.h5) {
  font-size: 1rem;
  font-weight: 700;
}

:global(.h6) {
  font-size: 1rem;
}

h1 {
  @extend :global(.h1);
}
h2 {
  @extend :global(.h2);
}
h3 {
  @extend :global(.h3);
}
h4 {
  @extend :global(.h4);
}
h5 {
  @extend :global(.h5);
}
h6 {
  @extend :global(.h6);
}

// margin between two paragraphs
p + p {
  margin-top: 1.25rem;
}

:global(.body) {
  font-size: 1rem;
  line-height: 1.667em;
}

:global(.xs) {
  font-size: 0.83rem;
}

:global(.invisible) {
  visibility: hidden;
}

:global(.visible) {
  visibility: visible;
}

:global(.hidden) {
  display: none !important;
}

:global(.uppercase) {
  text-transform: uppercase;
}

:global(.inline-block) {
  display: inline-block;
}

// Screen Reader-only (a11y)
:global(.visuallyhidden) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

figure {
  background-repeat: no-repeat;
  margin: 0;
}

img {
  border: none;
}

a {
  text-decoration: none;
  color: $dark-blue;

  &[href='/'],
  &[href='#'] {
    &,
    * {
      pointer-events: none;
      cursor: default;
      color: inherit;
    }
  }
}

@media (max-width: $smallDesktop - 0.1rem) {
  :global(.notablet) {
    display: none;
  }
}

@media (max-width: $tablet - 0.1rem) {
  :global(.nophone) {
    display: none;
  }
}

@media (min-width: $tablet) {
  :global(.no-gt-phone) {
    display: none;
  }
}
