@import 'theme/breakpoints';
@import 'theme/spacing';
@import 'theme/variables';

.pageContent {
  @media screen {
    display: flex;
    flex-direction: column;
  }

  background-color: $pale-grey;
}

.contentWrapper {
  padding: 0 $spc-l $spc-l;
  margin-top: $spc-l;

  @media (max-width: $largePhone) {
    padding: 0 $spc-s $spc-s;
    margin-top: $spc-s;
  }
}
