.root {
  display: flex;
  flex-wrap: wrap;
}

.hr {
  margin: 10px 0 10px 0;
}

.header {
  margin: 0 0 10px;
  padding: 0 0 10px;
  font-weight: 300;
  border-bottom: solid 1px lightgray;
}

.configure {
  flex: 1;
  padding-right: 10px;
  padding-bottom: 20px;
}

.render {
  flex: 1;
  padding-left: 10px;
}
